.number {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.result {
    font-weight: bold;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 1.5rem;
}

select {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.deleteBtn {
    color: crimson;
}

.deleteBtn:hover {
    cursor: pointer;
}